


.head { font-size: 20px; font-family: Arial; font-weight: bold; background-color: darkgreen; }


.Text1 { font-size: 17px; font-family: Arial; text-align: center;}

.Text2 { font-size: 18px; font-family:Cambria; text-align: center;}

.Text3 { font-size: 19px; font-family: Lucida Sans; text-align: center;}

.Text4 {font-size: 20px;  font-family: Verdana; font-weight: bold; text-align: center;}



